body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  overflow-x: hidden;
  width: 100%;
}

.progressTitle {
  font-weight: bold;
  color: rgb(214, 234, 255);
  transform: skew(15deg);
  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.goalContainer {
  transform: skew(-25deg);
  width: calc(100vw - 60px);
  text-align: center;
  align-items: center;
  margin-left: 15px;
}

.progressContainer {
  background-color: #000000;
  width: 100%;
  height: 30px;
  padding: 10px;
  overflow: hidden;
}

.textContainer {
  display: table;
  width: fit-content;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.font {
  color: #fff;
  font-size: 1.5em;
}

.progressBar {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.progressBarProgress {
  width: 0%;
  height: 100%;
  background-color: #ff7a00;
}

.progressBarProgressPercent {
  color: rgb(214, 234, 255);
  transform: skew(25deg);
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  left: 48%;
}

.flip {
  animation: flipAnimation 1s;
  animation-fill-mode: backwards;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes flipAnimation {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
